{% if page.previous_in_category or page.next_in_category %}
  <nav class="pagination">
    {% if page.previous_in_category %}
      <a href="{{ page.previous_in_category.url | relative_url }}" class="pagination--pager" title="{{ page.previous_in_category.title | markdownify | strip_html | strip }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next_in_category %}
      <a href="{{ page.next_in_category.url | relative_url }}" class="pagination--pager" title="{{ page.next_in_category.title | markdownify | strip_html | strip }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
