$pagination-base-color: $light-gray;

.archive-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        list-style: none;
    }

    ul.post-list {
        min-width: 100%;
    }

    ul.pager {
        li {
            display: inline-block;
            border: solid 1px $pagination-base-color;
            border-radius: 3px;

            .pager-trail-element {
                display: inline-block;
                margin: 0;
                padding: 2px 10px;
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .selected {
            background: $pagination-base-color;
            span {
                color: white;
            }
        }
    }
}
